@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Serif&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "serif"; }

p, li, a {
  font-family: "merriweather"; }

p, li, a {
  font-weight: "bold"; }

header .header__navLogo {
  width: 3em; }

header .titulo-header {
  display: flex;
  justify-content: center;
  margin-left: 15px;
  color: #691212;
  font-weight: bold; }
  header .titulo-header:hover {
    transform: scale(1, 2);
    cursor: pointer; }

.navInmobiliaria {
  color: black solid; }

.nav-item {
  list-style: none;
  color: black solid;
  font-weight: bold; }
  .nav-item:hover {
    transform: scale(1, 2);
    cursor: pointer; }

.inmobiliariaLink {
  color: black; }

main .mainInmobiliaria {
  height: 100vh;
  background-image: url(../fotos/baner.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

main .mainLoteos {
  background-image: url(../fotos/LOTEOS-2.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 579px) {
  main .mainInmobiliaria {
    height: 50vh; }
  main .mainLoteos {
    height: 30vh; } }

.carTitulo {
  color: brown;
  font-weight: "bold";
  display: flex;
  justify-content: center; }

.card-title {
  font-weight: "bold";
  color: #721a1a; }

.cardInmobiliaria {
  transition: all 0,25s; }
  .cardInmobiliaria:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px #721a1a; }

.link-inmobiliaria {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #721a1a;
  font-weight: "bold";
  color: white;
  border-radius: 5px; }

#galeria {
  border: 5px solid black;
  margin-top: 10px; }

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px; }

#galeria img {
  width: 100%;
  height: 250px; }

#galeria img:hover {
  border: 5px solid #721a1a; }

#galeria img:hover {
  filter: blur(2px); }

.buttonInmobiliaria {
  display: flex;
  justify-content: center;
  padding: 8px;
  background-color: #721a1a;
  font-weight: "bold";
  color: white;
  border-radius: 5px; }

.containerAlquiler {
  width: 100%;
  height: auto;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center; }

.card {
  width: 100%;
  max-width: 350px; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  transition: 0,75s all ease-in-out; }

.card:hover {
  transform: scale(1.1); }

.titulo-Alquileres {
  display: flex;
  justify-content: center;
  justify-items: center;
  color: #691212;
  font-weight: "bold";
  margin-bottom: 10px; }

.card-footer {
  display: flex;
  justify-content: center;
  color: #691212; }

.containerBox {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center; }

.select-box {
  border: 1px solid #d4d4d4;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 30px 20px 10px; }

.titulo-ventas {
  display: flex; }

.titulo-Alquleres {
  color: brown;
  font-weight: bold; }

.card-header {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #721a1a;
  font-weight: bold; }

.card-body {
  color: black;
  font-weight: bold; }

.buttonAlquiler {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #5a5656;
  font-weight: bold; }

.propiedades-Destacadas {
  color: white;
  background-color: #721a1a;
  font-weight: bold; }

.containerVenta {
  width: 100%;
  height: auto;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center; }

footer .mapaFooter {
  color: #dd0303;
  font-weight: "bold"; }

footer .navFooter {
  text-decoration: none;
  color: black;
  font-weight: "bold"; }

.tasaciones {
  height: 100vh;
  background-image: url(../fotos/valor.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.titleTasacion {
  color: #721a1a;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 10px; }

.boton-tasacion {
  border-radius: 10px;
  background-color: #470b0b;
  color: white; }

p {
  font-size: 16px; }
  @media screen and (max-width: 576px) {
    p {
      font-size: 14px; } }

.propiedadesDestacadas {
  font-size: 20px; }
  @media screen and (max-width: 576px) {
    .propiedadesDestacadas {
      font-size: 15px;
      font-size: "bold"; } }

.containerBox {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center; }
  @media screen and (max-width: 576px) {
    .containerBox {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column; } }

.tasaciones {
  height: 100vh;
  background-image: url(../fotos/valor.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 576px) {
    .tasaciones {
      height: 50vh; } }

.carTitulo {
  font-size: 35px; }

.TitleTasaciones {
  font-size: 35px; }
