//General//
@import "./general/tipografia.scss";
@import "./general/colores.scss";
@import "./general/colores.scss";

//Layout//
@import "./layout/header.scss";
@import "./layout/main.scss";
@import "./layout/footer.scss";


//Paginas//
@import "./paginas/inicio.scss";
@import "./paginas/loteos.scss";
@import "./paginas/ventas.scss";
@import "./paginas/alquileres.scss";
@import "./paginas/tasaciones.scss";


//Mixin Mobile//

@mixin movil(){
    @media screen and (max-width:576px){
        @content;
    }
}

p{
    font-size: 16px;

    @include movil(){
        font-size: 14px;
    }
}

@mixin movil(){
    @media screen and (max-width:576px){
        @content;
    }
}

.propiedadesDestacadas{
    font-size: 20px;

    @include movil(){
        font-size: 15px;
        font-size: $negrita;
    }
}



//Operaciones//

.carTitulo{
    font-size: 15px+20px;
}

.TitleTasaciones{
    font-size: 15px+20px;
}

