//General//
@import "./general/tipografia.scss";
@import "./general/colores.scss";
@import "./general/colores.scss";

//Layout//
@import "./layout/header.scss";
@import "./layout/main.scss";
@import "./layout/footer.scss";


//Paginas//
@import "./paginas/inicio.scss";
@import "./paginas/loteos.scss";
@import "./paginas/ventas.scss";
@import "./paginas/alquileres.scss";
@import "./paginas/tasaciones.scss";


//Mixin Mobile//

@mixin movil(){
    @media screen and (max-width:576px){
        @content;
    }
}

p{
    font-size: 16px;

    @include movil(){
        font-size: 14px;
    }
}

@mixin movil(){
    @media screen and (max-width:576px){
        @content;
    }
}

.propiedadesDestacadas{
    font-size: 20px;

    @include movil(){
        font-size: 15px;
        font-size: $negrita;
    }
}

.containerBox{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center; 

    @include movil(){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    }
}

.Tasaciones{
  height: 100vh;
  background-image:url(/fotos/tasacion-y-valoracion-perito-arquitecto-peritacion-dictamen-pericial.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @include movil(){
    height: 50vh;
  }
}

//Operaciones//

.carTitulo{
    font-size: 15px+20px;
}

.TitleTasaciones{
    font-size: 15px+20px;
}

