$color_1: black;
$color_2: black solid;
$color_3:rgb(105, 18, 18);
$color_4:brown;
$color_5:rgb(114, 26, 26);
$color_6:rgb(255, 255, 255);
$color_7:rgb(221, 3, 3);


$background-color_1: black;
$background-color_2: rgb(71, 11, 11);
$background-color_3: rgb(114, 26, 26);
