.Tasaciones{
  height: 100vh;
  background-image: url(/fotos/tasacion-y-valoracion-perito-arquitecto-peritacion-dictamen-pericial.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .titleTasacion{
    color:rgb(114, 26, 26);
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }