.tasaciones{
  height: 100vh;
  background-image: url(../fotos/valor.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .titleTasacion{
    color:rgb(114, 26, 26);
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  

  