footer{
    .mapaFooter{
        color: $color_7;
        font-weight: $negrita;
    }

    .navFooter{
        text-decoration: none;
        color: $color_1;
        font-weight: $negrita
    }
}


