header{
    

    .header__navLogo{
        width: 3em;
    }

    .titulo-header{
        display: flex;
        justify-content: center;
        margin-left: 15px;
        color: $color_3;
        font-weight: bold;
        &:hover{
            transform: scale(1,2);
            cursor: pointer;
        }
    }

   }

   .navInmobiliaria{
    color: $color_2;
   }

   .nav-item{
    list-style: none;
    color: $color_2;
    font-weight: bold;
    &:hover{
        transform: scale(1,2);
        cursor: pointer;
    }
   }

.inmobiliariaLink{
    color: $color_1;
}





